
.wrapper{
	background-color: lightgreen;
	padding: 20px;
	width: 1100px;
	height: 175px;
	margin: 0 auto;
	border: 10px #000 solid;
	border-radius: 25px; 
}

.wrapper2{

	font-size: 140px;
	text-align: center;
	padding: 10px;
}

span{
	margin: 0;
	padding: 0;
	border: 0;
}

